{% extends "AppFood/inicio.html" %}


{% block content %}

<title>Clientes de AppFood</title>

<ul>
    {% for cliente in object_list %}

     <li>
        <p>NOMBRE: {{ cliente.nombre }}</p>
        <p> NUMERO DE RESERVAS: {{cliente.reserva }}</p>
        
            <a href="{% url 'Detail' cliente.id %}">Ver</a>
            <a href="{% url 'Editar' cliente.id %}">Editar</a>
            <a href="{% url 'Eliminar' cliente.id %}">Borrar</a>
        </p>
     </li>

     {% endfor %}
</ul>

{% endblock %}