{% extends "AppFood/inicio.html" %}

{% block content %}

<h1> Sobre Nosotros </h1>

<h2> Destacado por Trip Advisor como uno de los restaurantes más instagrameables del mundo,
    y apodado por la prensa nacional e internacional como "EL DIOS DEL BRUNCH", 
    ¡Zenith es un lugar de Brunch todo el día, todos los días! Un espacio moderno,
    vanguardista, de aire industrial y lleno de propuestas originales y saludables que incluyen platos veganos y sin gluten.

    Clásicos de brunch, como huevos benedictinos, panqueques, tostadas francesas, 
    pan de plátano y muchas más especialidades como bagels, 
    açaí brasileño, tapiocas, shakshuka, batidos y ensaladeras. </h2>

<h3>ps ps! Si traes a tu mascota contigo y haces un post de tu experiencia en Zenith tendras un 10% de descuento!!!</h3>

{%endblock%}